body {
  background-color: rgb(8, 33, 42);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: flex-start; /* Keep content aligned to the start */
  align-items: flex-start;
  height: 100vh;
}

#map-card-container {
  position: relative; /* Position container relative to the viewport */
  display: flex;
}

#meteorite-card {
  width: 350px;
  background: rgba(69, 123, 162, 0.13);
  border-radius: 16px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  padding: 20px;
  margin-top: 100px;
  position: fixed; /* Position card relative to the viewport */
  left: 1300px;
  top: 0; /* Align card to the top */
}

#meteorite-card h2 {
  margin-top: 0;
  color: #dfd583;
}

#meteorite-card p {
  margin: 10px 0;
  color: #b8ae68;
}

#meteorite-card strong {
  font-weight: bold;
}

#mmcard {
  background-color: blue;
}
#meteorite-info {
  display: flex;
  flex-direction: column;
  left: 1300px;
}
